table {
    border: 1px solid grey;
}

th,
td {
    padding: 10px;
}

/* The CSS nth-child(odd) selector is used to target the odd rows of the table */
tr:nth-child(odd) {
    background-color: #EFEFEF;
}

tr:nth-child(even) {
    background-color: white;
}

h1,
footer {
    padding-top: 20px;
    text-align: center;
}

section {
    margin-bottom: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
    flex-direction: row;
    align-items: flex-start;
    max-width: auto;
}

.column {
    width: 45%;
    text-align: center;
}

.multi-line-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.form-row {
    display: flex;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 45%;
}

.form-row input {
    margin-left: 10px;
}

button {
    margin-top: 15px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #EFEFEF;
    padding: 15px 32px;
}